<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jockeygamesapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jockeygamesapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JockeyGamesAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JockeyGamesAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JockeyGamesAPIContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jockeygamesapidbserver.database.windows.net,1433;Initial Catalog=JockeyGamesAPI_db;User ID=jockeyadmin@jockeygamesapidbserver;Password=j*3L3^1eOZ0e2A^f1!" Name="Data Source=tcp:jockeygamesapidbserver.database.windows.net,1433;Initial Catalog=JockeyGamesAPI_db;User Id=jockeyadmin@jockeygamesapidbserver;Password=j*3L3^1eOZ0e2A^f1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="JockeyGames.API.Models.JockeyGamesAPIContext, JockeyGames.API" MigrationConfiguration="JockeyGames.API.Migrations.Configuration, JockeyGames.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JockeyGamesAPIContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jockeygamesapidbserver.database.windows.net,1433;Initial Catalog=JockeyGamesAPI_db;User Id=jockeyadmin@jockeygamesapidbserver;Password=j*3L3^1eOZ0e2A^f1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>